<footer id="footer" class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <h5>Redes sociais</h5>
        <a href="https://www.facebook.com/pastahelgas" rel="noreferrer noopener" target="_blank"><i
            class="fab fa-facebook fa-2x p-1 black"></i></a>
        <a href="https://www.instagram.com/pastahelgas/" rel="noreferrer noopener" target="_blank"><i
            class="fab fa-instagram fa-2x p-1 black"></i></a>
      </div>
      <div class="col-6 col-md">
        <h5>Novidades</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Helga's Blog</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Ajuda</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Fale Conosco</a></li>
          <li><a class="text-muted" href="#">Perguntas Frequentes</a></li>
          <li><a class="text-muted" href="#">Política de Privacidade</a></li>
          <li><a class="text-muted" href="#">Termos e condições</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Sobre a Helga's</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">A Empresa</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>