{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-center p-2">
    <div class="login-card text-center p-4">
        <h3>ESQUECI MINHA SENHA</h3>
        <br>
        <form method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                </div>
                <input type="text" name="email" placeholder="Email..." class="form-control">
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-block btn-success" type="submit">Recuperar senha</button>
            </div>
        </form>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
        <div class="d-flex justify-content-center links mt-2">
            Registre-se clicando<a href="{% url 'register' %}" class="ml-1">aqui</a>
        </div>
        {% endfor %}
        {% else %}
        <div class="mt-2">
            <p id="message" class="text-center">
                As instruções para redefinição de senha serão enviadas para o email digitado acima
            </p>
            <div class="d-flex justify-content-center links">
                Lembrou da senha? <a href="{% url 'login' %}" class="ml-1">Login</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>


{% endblock content %}