{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-center p-2">
    <div class="login-card text-center p-4">
        <h2>ALTERAR SENHA</h2>
        <br>
        <form method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                {{form.new_password1}}
            </div>
            <div class="input-group mb-2">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                {{form.new_password2}}
            </div>
            <button class="btn btn-block btn-success" type="submit">ALTERAR SENHA</button>
        </form>
        {% if form.errors %}
        <div class="text-center">
            {% for _, error in form.errors.items %}
            <strong>{{ error }}</strong>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}