{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<style>
    #password-reset-infos {
        width: 800px;
    }
</style>

<div class="d-flex justify-content-center">
    <div id="password-reset-infos" class="flex-column">
        <h1 class="text-center">E-mail enviado com sucesso!</h1>
        <hr>
        <h5>Enviamos um e-mail com instruções para que você consiga definir uma nova senha.</h5>
        <br>
        <h5>Se você não receber esse e-mail, verifique, por favor, se você digitou o e-mail
            corretamente na página anterior (<a href="">{{email}}</a>). Verifique, também, o spam do seu e-mail.</h5>
        <br>
        <h5>Frente quaisquer adversidades, não hesite em nos contatar pelo e-mail <a href="">helgas@helgas.com.br</a>
        </h5>
    </div>
</div>
</div>


{% endblock content %}